.CryptoLogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CryptoTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.CryptoTable th, .CryptoTable td {
    border: 1px solid ccc;
    padding: 10px;
    text-align: center;
}


    .CryptoTable th {
        background-color: #f2f2f2;
    }

    .CryptoTable img {
        max-width: 30px;
        max-height: 30px;
        vertical-align: middle;
        margin-right:10px; 
    }

.CryptoNameCell {
    display: flex;
    align-items: center;
    justify-content: center;
}